name: FTP Deploy Build to cPanel

on:
  push:
    branches:
      - main
      - develop

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Copy package.json to dist
        run: cp package.json dist/

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: api.karaflow.com
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/
          server-dir: /home/gdpcabpt/api.karaflow.com/
          allowDelete: false
          useInsecureFtp: true
